# Eclipse
.metadata
.settings
[Rr]elease
[Dd]ebug
.launch

# Device id file
Projects/Applications/FreeRTOS/FreeRTOS_LoRaWAN/LoRaWAN/App/se-identity.h

# Debug file
Projects/Applications/FreeRTOS/FreeRTOS_LoRaWAN/*.launch
